.container{
    padding:100px;
}
.bar{
    width:30%;
    height:50px;
    border:2px solid grey;
    font-size:1.5rem;
}

.bar::placeholder{
    font-size:1.5rem;
}

.bar:hover{
    width:100%;
    transition:width 2s;
    border:2.5px solid steelblue;
}
input:focus{
    border:2.5px solid steelblue;
    outline:none;
}

.bar:hover::placeholder{
    opacity:0;
}